.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.titleBlock {
  margin-bottom: 5px;
}

.titleWithUnderline {
  display: inline-block;
}

.heading {
  margin-bottom: 8px;
  text-align: left;
}

.titleUnderline {
  height: 2px;
  background-color: var(--admiral-color-border-default, #c5c5c5);
  width: 100%;
  border-radius: 1px;
  margin-top: 4px;
}

.text {
  font-size: 14px;
  color: var(--color-dark-text, #1d1e22);
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  gap: 50px;
}

@media (max-width: 768px) {
  .container {
    padding: 16px 12px;
  }
}
